
<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" type="text/css" href="buildabag.css">


<ul class="configuration topconfig">
	<li id="config1" class=""> </li>
	<li id="config2" class=""> </li>
	<li id="config3" class=""> </li>
	<li id="config4" class=""> </li>
</ul>

<div id="babcontainer" class="">
	<div id="top-image" class="">
	</div>
	<div id="center-image" class="">
	</div>
</div>

<script src="buildabag.js"> </script>

</body>
</html>
