

<div id="sling-container" class="border">
	<div id="s-left"  class="sling-image border">
		<div id="s-left-overlay"  class="sling-image border"></div>
	</div>
	<div id="s-right" class="sling-image border">
		<div id="s-right-overlay"  class="sling-image border"></div>
	</div>
</div>

<div id="sling-infographic" class="border">

	<div id="left-hb" class="hb-container">
		<div class="height-bar"> </div>
	</div>

	<div id="excess-hb" class="excess-container hb-container ">
		<div class="excess-height-bar"> </div>
	</div>

	<div id="right-hb" class="hb-container ">
		<div class="height-bar"> </div>
	</div>

</div>