
<% if user_signed_in? %>

<h1>Games#new</h1>


<%= form_for @game do |f| %>

	<ul>
	  <% @users.each do |user| %>
	      <li>
	        <%= check_box_tag 'user_ids[]', user.id %>
	        <%= h user.email %>
	      </li>
	  <% end %>
	</ul>


	<br />
	<br />


	<%= f.submit %>

<% end %>

<% else %>

Please Sign In

<% end %>

